<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyChat-Chatroom</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body>
    <%- include('./partials/navbar')%>
    <div class="main-container">
        <div class="sidebar">
            <input type="text" placeholder="search users" id="search">
            <div class="users" >
                    <a href="/chat/0"  >
                        <div id= "0" class="people" >Community</div> 
                    </a>
                    <% for (user of users) { %>
                        <% if (user._id.toString() != receiver._id.toString()) { %>    
                            <a href="<%="/chat/"+ user._id %>" >
                                <div id= "<%=user._id %>" class="people" >
                                    <% if (user.online!='') {%>
                                        <p><small>online</small></p>
                                    <% } %>
                                    <%= user.username.trim() %></div> 
                            </a>
                    <% } } %>
            </div>
        </div>
        <div class="message-box">
            <% if (chat_id==0) {%>
                <a href="/findfriends">
            <%} else {%>
                <a href="<%="/findfriends/"+ chat_id %> %>" >
            <% } %>       
                <div class="chatname" data-id="<%=chat_id %>"> <%= chatname %> <small class="status"></small></div>
            </a>
            <div class="messages">
                <% for (msg of msgs) {%>
                    <% if (receiver._id.toString()==msg.sender.toString()) {%>
                        <div class="right">
                    <%} else {%>
                        <div class="left">
                                <%}%>   
                            <small> <%=msg.sendername%></small>
                            <div> <%=msg.msg%> </div>
                        </div>
                <%}%> 
                <div class="feedback"></div>
            </div>
            <div class="bottom messageform" data-send= "<%= JSON.stringify(receiver) %>" >
                <input type="text" class="message" name="message">
                <input type="button" value="send" class="send btn btn-dark" >
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
   
    <script src="/js/script.js" ></script>
    <%- include('./partials/footer')%>
</body>
</html>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
 <script src="/socket.io/socket.io.js"></script> 
-->